/* Styles/Boutton.css */

.container{
  margin: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.btn{
  width: 100%;
  background-color: #000 !important;
  padding: 15px !important;
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  font-weight: 700 !important;
  line-height: 24px;
  letter-spacing: 0em;
  border: none !important;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary:hover {
background-color: #333;
}