/* src/Styles/PageLogin.css */

.login-container{
  max-width: 600px;
  margin: auto;
  position: relative;
  padding: 20px;
}

/*Le logo */
.logo-container {
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: center;
}
.rounded-circle{
  width: 120px;
  height: 120px;
}

/* Container des l'input */
.input-box {
  margin: 20px;
  height: 55px;}
.bg-custom-color {
  background-color: #ebe9e9 !important;
}

/* le boutton se rappeler de moi */
.form-check {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.form-check-input {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.form-check-label {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 15px;
}