/* src/Styles/PageLogin.css */


/*Le logo */
.logo {
  margin-top: 150px;
}
.rounded-circle{
  width: 120px;
  height: 120px;
}

/* Container des l'input */
.input-box {
  margin: 20px;
  height: 55px;}
.bg-custom-color {
  background-color: #ebe9e9 !important;
}

/* le boutton se rappeler de moi */
.form-check {
  display: flex;
  align-items: center;
}

.form-check-input {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid rgb(136, 136, 136) !important;
}

.form-check-label {
  font-size: 18px;
  font-weight: 500;
  line-height: 15px;
}