
/* Le contenu de la page */
.acceuil{
  max-width: 850px !important;
}

/*Le logo */
.logo-ici {
  margin-top: 50px;
}

/* les boutons */
.link{
  text-decoration: none !important;
}

/* Styles pour les éléments individuels */
.box-seul {
  background-color: #79767633;
  border-radius: 20px;
  padding: 15px;
}

.group-container {
  max-width: 850px;
  margin: auto;
  position: relative;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: calc(50% - 10px); /* Pour deux colonnes sur les petits écrans */
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .flex-item {
    width: calc(33.3333% - 10px); /* Pour trois colonnes sur les écrans moyens et plus */
  }
}

/* style icone */
.circle-icon {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-icon img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 50%;
}

/* style titre */
.group-container h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #000000; /* Couleur de texte grise */
  margin: 15px 0; /* Marge autour du titre */
}

/* Style sous-titre */
.group-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #000000; /* Couleur de texte grise plus claire */
  margin: 10px 0; /* Marge autour du texte */
}