/* src/Styles/PageEncaissement.css */

/* Input "Matricule *" */
.input-container {
  padding-top: 70px;
  margin: 20px;
  width: 100%;
}

.custom-form-control {
  background-color: transparent;
  outline: none;
  border-radius: 0;
  letter-spacing: 0.04em;
}