/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
   font-family: 'Poppins';
}
body div p {
   font-family: 'Poppins';
}

.flex-item {
   width: calc(50% - 10px); /* Pour deux colonnes sur les petits écrans */
   margin-bottom: 20px;
}
@media (min-width: 768px) {
   .flex-item {
     width: calc(33.3333% - 10px); /* Pour trois colonnes sur les écrans moyens et plus */
   }
}